body {
  -webkit-user-select: none;
          user-select: none;
}

body p {
  color: #1d1d1d;
}

body ::placeholder {
  color: gray;
}

h1, h2, h3 {
  color: darkblue;
}

h1:hover, h2:hover, h3:hover {
  color: #d85b13;
}

.top {
  display: block;
  text-align: right;
}